            <footer class="footer">
                <div class="footer-inner">
                    <div class="footer-content">
                        <p>
                            &copy; 2025 Betheme by
                            <span class="fake-link">Muffin group</span>
                            | All Rights Reserved | Powered by
                            <span class="fake-link">WordPress</span>
                        </p>
                    </div>
                </div>
            </footer>