    <header class="header">
        <div class="container">
            <div class="logo">
                <img src="/images/retina-kravmaga.png" alt="BeKravMaga Logo">
            </div>
            <nav class="navigation">
                <ul class="nav-menu">
                    <li><a href="#start" class="nav-link active">Start</a></li>
                    <li><a href="#welcome" class="nav-link">Welcome</a></li>
                    <li><a href="#calendar" class="nav-link">Calendar</a></li>
                    <li><a href="#training" class="nav-link">Training</a></li>
                    <li><a href="#trainer" class="nav-link">Trainers</a></li>
                    <li><a href="#contact" class="nav-link">Contact</a></li>
                    <li><a href="#newsletter" class="nav-link">Newsletter</a></li>
                </ul>
            </nav>
        </div>
    </header>