body {
    background-color: #343638;
    background: url("assets/images/imgi_75_home_kravmaga_bg1.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Ensure the body takes full viewport height */
}

.header {
    background-color: #293440;
    position: static;
    width: 1240px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    /* Ensure header stays above the background */
    z-index: 1;
    /* Bring header above the background */
}

.logo img {
    height: 60px;
    margin-bottom: 20px;
}

.header_tags {
    list-style: none;
}

.header_tags li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.header_tags a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a.start {
    color: wheat;
}

.header_tags a:hover {
    color: wheat;
    text-decoration: none;
}

.front {
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxer img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding-top: 200px;
}

.name {
    position: absolute;
    color: #ac3a3f;
    padding-bottom: 250px;
    font-size: 80px;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 500;
    letter-spacing: 27px;
}

.welcome {
    width: 1240px;
    margin: 0 auto;
    position: relative;
    margin-top: -210px;
}

.welcome-section {
    width: 1220px;
    height: 758px;
    background: url("assets/images/imgi_76_home_kravmaga_bg2.jpg") no-repeat center top;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.top {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.top-icon {
    height: 41px;
    width: 42px;
    padding-top: 40px;
}

.top p {
    font-size: 32px;
    line-height: 32px;
    font-weight: 50px;
    font-family: "Cabin Sketch", sans-serif;
    color: #DDD0B2;
}

.welcomeposition {
    display: flex;
    flex-direction: row;
}

.rightwelcome {
    flex: 0 1 48%;
    padding: 20px;
    color: #ccc;
    font-size: 19px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right_wel_text {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 23px;
    color: #C43F43;
}

.leftwelcome {
    flex: 0 1 48%;
    padding: 20px;
    color: #ccc;
    font-size: 19px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.left1,
.left2,
.left3 {
    margin: 50px 20px;
}
.calender h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    padding-top: 50px;
    font-family: "Cabin Sketch", sans-serif;
    color: #DDD0B2;
    text-align: center;
    padding-bottom: 10px;
}

.top_calender,
.bottom_calender {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    padding: 15px;
}

.top_calender,
.bottom_calender {
    display: flex;
    justify-content: space-between;      
    margin: 0 150px;
}

.top_calender div,
.bottom_calender div {
    width: 350px;
    text-align: left;
    background: #252d38;   
    overflow: hidden;     
    border-radius: 6px;
    height: max-content;
}

.top_calender img,
.bottom_calender img {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.text-box {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 12px;
    margin: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.toptitle,
.bottomtitle {
    color: #DDD0B2;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.toptext,
.bottomtext {
    color: silver;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
