        <section class="contact" id="contact">
            <div class="container">
                <div class="contact-content contact-content-split">
                    <div class="contact-logo">
                        <img src="/images/imgi_17_home_kravmaga_logo_content.png" alt="BeKravMaga contact logo">
                    </div>
                    <div class="contact-info">
                        <h2>Contact BeKravMaga</h2>
                        <div class="contact-text-row">
                            <div class="contact-desc">
                                <p>Excepteur sint occaecat cupidatat non proident, suntemu in culpa qui officia dese
                                    runt mollit laborumitus egovo.</p>
                            </div>
                            <div class="contact-details-column">
                                <p>Cras pulvinar rhoncus sunt culpa:</p>
                                <div class="contact-details">
                                    <p><i class="fas fa-phone-alt"></i> <span class="contact-phone">+61 (0) 7 9180
                                            3458</span></p>
                                    <p><i class="fas fa-envelope"></i> <span
                                            class="contact-email">noreply@envato.com</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>