        <section class="hero" id="start">
            <div class="hero-background">
                <div class="hero-content">
                    <h1 class="hero-title">KRAV MAGA</h1>
                </div>
                <div class="hero-image">
                    <img src="/images/imgi_2_home_kravmaga_welcome.png" alt="Krav Maga fighter in training pose">
                </div>
            </div>
        </section>