<div class="container" id="trainer">
    <h2>We gather only high qualified trainers</h2>
    <div class="trainers-grid">
        <article class="trainer-card">
            <img src="/images/imgi_13_home_kravmaga_team_4.png" alt="Kevin Perry - Krav Maga trainer"
                class="trainer-image">
            <div class="trainer-info">
                <h3>Kevin Perry</h3>
                <p class="trainer-title">Elemen tumid</p>
                <p class="trainer-description">Proin vestibulum mauris lacus ac laoreet est eleifend id
                    vivamus at.</p>
            </div>
        </article>
        <article class="trainer-card">
            <img src="/images/imgi_14_home_kravmaga_team_1.png" alt="Jessica Biel - Krav Maga trainer"
                class="trainer-image">
            <div class="trainer-info">
                <h3>Jessica Biel</h3>
                <p class="trainer-title">Suspendisse males</p>
                <p class="trainer-description">Suspendisse eu tristique neque. Aliquam a nisl vestibulum
                    urna.</p>
            </div>
        </article>
        <article class="trainer-card">
            <img src="/images/imgi_15_home_kravmaga_team_2.png" alt="Paul Shepherd - Krav Maga trainer"
                class="trainer-image">
            <div class="trainer-info">
                <h3>Paul Shepherd</h3>
                <p class="trainer-title">Nullam nec</p>
                <p class="trainer-description">Sed et ultrices nisi. Pellentesque urna mi sollicitudin
                    in
                    est et mattis.</p>
            </div>
        </article>
        <article class="trainer-card">
            <img src="/images/imgi_16_home_kravmaga_team_3.png" alt="Paul Wright - Krav Maga trainer"
                class="trainer-image">
            <div class="trainer-info">
                <h3>Paul Wright</h3>
                <p class="trainer-title">Integer ultrices</p>
                <p class="trainer-description">Vestibulum non tincidunt augue ut maximus nisi. Donec
                    ultricies massa.</p>
            </div>
        </article>
    </div>
</div>