<section class="training" id="training">
    <div class="container">
        <h2>Choose your training level</h2>
        <div class="training-levels">
            <div class="level-card">
                <div class="level-icon">
                    <i class="fas fa-cloud" aria-hidden="true"></i>
                </div>
                <div class="level-content">
                    <h3>Tincidunt mauris</h3>
                    <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.
                    </p>
                </div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <i class="fas fa-cog" aria-hidden="true"></i>
                </div>
                <div class="level-content">
                    <h3>Integer aliquam</h3>
                    <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.
                    </p>
                </div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <i class="fas fa-chart-line" aria-hidden="true"></i>
                </div>
                <div class="level-content">
                    <h3>Malesuada fames</h3>
                    <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.
                    </p>
                </div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <i class="fas fa-shield-alt" aria-hidden="true"></i>
                </div>
                <div class="level-content">
                    <h3>Bibendum sapien</h3>
                    <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.
                    </p>
                </div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                </div>
                <div class="level-content">
                    <h3>Vestibulum commodo</h3>
                    <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.
                    </p>
                </div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                </div>
                <div class="level-content">
                    <h3>Quisque lorem</h3>
                    <p>Vitae adipiscing turpis. Aenean ligula nibh in, molestie id viverra a, dapibus at dolor.
                    </p>
                </div>
            </div>
        </div>



    </div>
</section>